In [37]:
import json
import random
import numpy as np

In [38]:
with open('words.json') as datafile:
    data = json.load(datafile)

In [39]:
len(data)

3

In [40]:
import pandas as pd

In [41]:
df = pd.read_excel('univ_college_websites.xlsx', sheet_name="Sheet1", index='URL', columns=['School Name','City','State'])

In [42]:
df.columns.all

In [43]:
df

,School Name,URL,City,State
0,University of Alaska,http://alaska.edu,Anchorage,AK
1,Alaska Christian College,http://alaskacc.edu,Soldotna,AK
2,National Park Community College,http://npcc.edu,Hot Springs National Park,AK
3,University of Alaska Fairbanks,http://uaf.edu,Fairbanks,AK
4,University of Arkansas - Fort Smith,http://uafs.edu,Fort Smith,AK
5,Alabama A&M University,http://aamu.edu,Huntville,AL
6,Athens State University,http://athens.edu,Athens,AL
7,Auburn University,http://auburn.edu,Auburn,AL
8,Auburn University at Montgomery,http://aum.edu,Montgomery,AL
9,Birmingham-Southern College,http://bsc.edu,Birmingham,AL
10,Calhoun Community College,http://calhoun.edu,Decatur,AL
11,Enterprise State Community College,http://escc.edu,Enterprise,AL
12,Faulkner State Community College,http://faulknerstate.edu,Bay Minette,AL
13,Gadsden State Community College,http://gadsdenstate.edu,Gadsden,AL
14,Huntingdon College,http://huntingdon.edu,Montgomery,AL
15,Jacksonville State University,http://jsu.edu,Jacksonville,AL
16,Lurleen B. Wallace Community College,http://lbwcc.edu,Andalusia,AL
17,University of Montevallo,http://montevallo.edu,Montevallo,AL
18,Northeast Alabama Community College,http://nacc.edu,Rainsville,AL
19,Northwest-Shoals Community College,http://nwscc.edu,Muscle Shoals,AL
20,Oakwood University,http://oakwood.edu,Huntsville,AL
21,Samford University,http://samford.edu,Birmingham,AL
22,Southeastern Bible College,http://sebc.edu,Birmingham,AL
23,University of South Alabama,http://southalabama.edu,Mobile,AL
24,Trenholm State Technical College,http://trenholmstate.edu,Montgomery,AL
25,Troy University,http://troy.edu,Troy,AL
26,Tuskegee University,http://tuskegee.edu,Tuskegee,AL
27,University of Alabama,http://ua.edu,Tuscaloosa,AL
28,University of Alabama at Birmingham,http://uab.edu,Birmingham,AL
29,University of Alabama in Huntsville,http://uah.edu,Huntsville,AL
...,...,...,...,...
1900,University of Wisconsin Superior,http://uwsuper.edu,Superior,WI
1901,University of Wisconsin Whitewater,http://uww.edu,Whitewater,WI
1902,Viterbo University,http://viterbo.edu,La Crosse,WI
1903,Waukesha County Technical College,http://wctc.edu,Pewaukee,WI
1904,"University of Wisconsin, Madison",http://wisc.edu,Madison,WI
1905,Wisconsin Indianhead Technical College,http://witc.edu,Shell Lake,WI
1906,Wisconsin Lutheran College,http://wlc.edu,Milwaukee,WI
1907,Wisconsin Technical College System,http://wtcsystem.edu,Madison,WI
1908,Western Technical College,http://westerntc.edu,La Crosse,WI
1909,American Public University System,http://apus.edu,Charles Town,WV
1910,Concord University,http://concord.edu,Athens,WV
1911,Eastern West Virgina Community and Technical C...,http://easternwv.edu,Moorefield,WV
1912,Fairmont State University,http://fairmontstate.edu,Fairmont,WV
1913,Marshall University,http://marshall.edu,Huntington,WV
1914,Ohio Valley University,http://ovu.edu,Vienna,WV
1915,Pierpont Community and Technical College,http://pierpont.edu,Fairmont,WV
1916,Shepherd University,http://shepherd.edu,Shepherdstown,WV
1917,University of Charleston,http://ucwv.edu,Charleston,WV
1918,West Liberty University,http://westliberty.edu,Wheeling,WV
1919,Wheeling Jesuit University,http://wju.edu,Wheeling,WV
1920,West Virginia Northern Community College,http://wvncc.edu,Wheeling,WV
1921,West Virginia State University,http://wvstateu.edu,Institute,WV
1922,West Virginia University,http://wvu.edu,Morgantown,WV
1923,West Virginia Wesleyan College,http://wvwc.edu,Buckhannon,WV
1924,Casper College,http://caspercollege.edu,Casper,WY
1925,Central Wyoming College,http://cwc.edu,Riverton,WY
1926,National Outdoor Leadership School,http://nols.edu,Lander,WY
1927,Northwest College,http://northwestcollege.edu,Powell,WY
1928,Northern Wyoming Community College District,http://sheridan.edu,Sheridan,WY
1929,University of Wyoming,http://uwyo.edu,Laramie,WY

In [44]:
d2 = df.set_index('URL')

In [46]:
NEWDF

School Name
University of Alaska                                              http://alaska.edu
Alaska Christian College                                        http://alaskacc.edu
National Park Community College                                     http://npcc.edu
University of Alaska Fairbanks                                       http://uaf.edu
University of Arkansas - Fort Smith                                 http://uafs.edu
Alabama A&M University                                              http://aamu.edu
Athens State University                                           http://athens.edu
Auburn University                                                 http://auburn.edu
Auburn University at Montgomery                                      http://aum.edu
Birmingham-Southern College                                          http://bsc.edu
Calhoun Community College                                        http://calhoun.edu
Enterprise State Community College                                  http://escc.edu
Faulkner State Community College                           http://faulknerstate.edu
Gadsden State Community College                             http://gadsdenstate.edu
Huntingdon College                                            http://huntingdon.edu
Jacksonville State University                                        http://jsu.edu
Lurleen B. Wallace Community College                               http://lbwcc.edu
University of Montevallo                                      http://montevallo.edu
Northeast Alabama Community College                                 http://nacc.edu
Northwest-Shoals Community College                                 http://nwscc.edu
Oakwood University                                               http://oakwood.edu
Samford University                                               http://samford.edu
Southeastern Bible College                                          http://sebc.edu
University of South Alabama                                 http://southalabama.edu
Trenholm State Technical College                           http://trenholmstate.edu
Troy University                                                     http://troy.edu
Tuskegee University                                             http://tuskegee.edu
University of Alabama                                                 http://ua.edu
University of Alabama at Birmingham                                  http://uab.edu
University of Alabama in Huntsville                                  http://uah.edu
                                                                   ...
University of Wisconsin Superior                                 http://uwsuper.edu
University of Wisconsin Whitewater                                   http://uww.edu
Viterbo University                                               http://viterbo.edu
Waukesha County Technical College                                   http://wctc.edu
University of Wisconsin, Madison                                    http://wisc.edu
Wisconsin Indianhead Technical College                              http://witc.edu
Wisconsin Lutheran College                                           http://wlc.edu
Wisconsin Technical College System                             http://wtcsystem.edu
Western Technical College                                      http://westerntc.edu
American Public University System                                   http://apus.edu
Concord University                                               http://concord.edu
Eastern West Virgina Community and Technical College           http://easternwv.edu
Fairmont State University                                  http://fairmontstate.edu
Marshall University                                             http://marshall.edu
Ohio Valley University                                               http://ovu.edu
Pierpont Community and Technical College                        http://pierpont.edu
Shepherd University                                             http://shepherd.edu
University of Charleston                                            http://ucwv.edu
West Liberty University                                      http://westliberty.edu
Wheeling Jesuit University                                           http://wju.edu
West Virginia Northern Community College                           http://wvncc.edu
West Virginia State University                                  http://wvstateu.edu
West Virginia University                                             http://wvu.edu
West Virginia Wesleyan College                                      http://wvwc.edu
Casper College                                             http://caspercollege.edu
Central Wyoming College                                              http://cwc.edu
National Outdoor Leadership School                                  http://nols.edu
Northwest College                                       http://northwestcollege.edu
Northern Wyoming Community College District                     http://sheridan.edu
University of Wyoming                                               http://uwyo.edu
Name: URL, dtype: object

In [63]:
d2

KeyError: 'URL'

In [57]:
type(d2)

pandas.core.frame.DataFrame

In [50]:
mylist = np.array(NEWDF)

In [51]:
len(mylist[:100])

100

In [52]:
newdf = pd.DataFrame(data=mylist)

In [53]:
newdf

                                0
0               http://alaska.edu
1             http://alaskacc.edu
2                 http://npcc.edu
3                  http://uaf.edu
4                 http://uafs.edu
5                 http://aamu.edu
6               http://athens.edu
7               http://auburn.edu
8                  http://aum.edu
9                  http://bsc.edu
10             http://calhoun.edu
11                http://escc.edu
12       http://faulknerstate.edu
13        http://gadsdenstate.edu
14          http://huntingdon.edu
15                 http://jsu.edu
16               http://lbwcc.edu
17          http://montevallo.edu
18                http://nacc.edu
19               http://nwscc.edu
20             http://oakwood.edu
21             http://samford.edu
22                http://sebc.edu
23        http://southalabama.edu
24       http://trenholmstate.edu
25                http://troy.edu
26            http://tuskegee.edu
27                  http://ua.edu
28                 http://uab.edu
29                 http://uah.edu
...                           ...
1900           http://uwsuper.edu
1901               http://uww.edu
1902           http://viterbo.edu
1903              http://wctc.edu
1904              http://wisc.edu
1905              http://witc.edu
1906               http://wlc.edu
1907         http://wtcsystem.edu
1908         http://westerntc.edu
1909              http://apus.edu
1910           http://concord.edu
1911         http://easternwv.edu
1912     http://fairmontstate.edu
1913          http://marshall.edu
1914               http://ovu.edu
1915          http://pierpont.edu
1916          http://shepherd.edu
1917              http://ucwv.edu
1918       http://westliberty.edu
1919               http://wju.edu
1920             http://wvncc.edu
1921          http://wvstateu.edu
1922               http://wvu.edu
1923              http://wvwc.edu
1924     http://caspercollege.edu
1925               http://cwc.edu
1926              http://nols.edu
1927  http://northwestcollege.edu
1928          http://sheridan.edu
1929              http://uwyo.edu

[1930 rows x 1 columns]

In [54]:
MyJson = newdf.to_json('NewJson', date_format='iso')

In [74]:
MyJson

In [40]:
# %load Analysis.py
import pandas as pd
import numpy as np
import re
import collections
from mpldatacursor import datacursor

class analysis():
	def __init__(self, num_data):
		self.num_data = num_data

	# clean up a row data 
	def clean_up(self, file_name): 
		with open(file_name) as infile:
			contents = infile.read()
			data = contents.replace('%20', ' ')
			data = data.replace('%2F%2F','://')
			info = data.replace(';','\n')
			info = info.replace('%3D%3D%3D%3D','\n')
			info1 = info.replace('%3A','')
			# f = open("data.txt","a+")
			# f.write(info1 +"\n")
			# f.close()
			self.prepare(info1)

	# change to list with in a dictionary 
	def prepare(self, file_name, from_file=False):
		collection = []
		data= collections.defaultdict(dict) 
		count_num_data = 0

		if from_file:
			with open(file_name,'r') as l_file:	
				content = l_file.read()
		else:
			content = file_name

		# convert the data into one hot list
		line = content.split('\n')
		for each in line:
			values = each.split(':')
			# print values, len(values)
			if len(values) == 3:
				key, value_1, value_2 = values
				value = value_1+":"+ value_2
				if key == 'web address':
					catagory = value
			elif len(values) == 2:
				key, value = values
			else:                   
			#	if count_num_data %100 == 0:
			#	print key, value, len(value)
				pass
				if key == 'Waterfall view':
					pattern = r'[0-9][0-9]'
					if re.search(pattern, value):
						x = re.findall(pattern,value)
						rep = re.compile(r'\s+')
						time = re.sub(rep,'',str(x[:3]).replace("'",""))
						
						value = time.replace('18','2018').replace('[', '').replace(']','').replace(',','-')
						key = 'date'
					count_num_data += 1 

			
			data[catagory].setdefault(key,[]).append(value)
			
		cleaned_dict =  dict(data)
		for web in cleaned_dict.keys():
			#replace empty value with np.nan
			del cleaned_dict[web]['Waterfall view']
			del cleaned_dict[web]['web address']
			for x in cleaned_dict[web].keys():
				if '' in cleaned_dict[web][x]:
					for y in cleaned_dict[web][x]:
						cleaned_dict[web][x] = np.nan
			if cleaned_dict[web].has_key(''):
				del cleaned_dict[web]['']
			else:
				pass
		
		print "The number of data collected is: ", count_num_data
		return cleaned_dict
	
	def select(self, dataframe, param):
		dfT = dataframe.transpose() 

		# conver to frame
		df_2 = pd.DataFrame(data=dfT[param]).dropna()
		s = df_2.apply(lambda x: pd.Series(x[param]), axis = 1).transpose().max()
		return s	

	# produce tabel, chart, and graph
	def plot(self, dataframe):
		return dataframe.plot()
	
	def prop(self, dataframe):
		return dataframe.columns
	
		
test = analysis(1)
value =  test.prepare('data.csv', True)
#test.clean_up('test_result.txt')

'''
df2 = pd.DataFrame.from_dict({(i,j):value[i][j]
							for i in value.keys()
							for j in value[i].keys()},
							orient = 'index')
'''

df = pd.DataFrame(data=value)
New = test.select(df, u'Speed Index')
data = test.select(df, u'date')

website_list = pd.read_html("https://en.wikipedia.org/wiki/List_of_most_popular_websites")

for each in website_list:
    web_address = pd.DataFrame(data=each[1], index=each[1])

web_address.to_csv('alexa_weblist.csv')
#print New.describe()
#print data.describe()

dfT = df.transpose()

# conver to frame
df_2 =pd.DataFrame(data=dfT[u'Speed Index']).dropna()
s = df_2.apply(lambda x: pd.Series(x[u'Speed Index']), axis = 1).transpose().max()
# print s

#print df[:1].describe()
#df_replace = dfT[:5][u'Speed Index']
#print dfT.describe()
#print dfT[:][u'Speed Index'].mean()

The number of data collected is:  6818

In [21]:
# creating my own dataset
df = pd.DataFrame(data=[[[-0.07, -2.9, -2.44],1,1],[[-1.52, -0.35, 0.1],1,2,],[[-0.17, 0.57, -0.65],1,3],[[-0.82, -1.06, 0.47],2,1],[[0.79, 1.35, -0.09],2,2],[[1.17, 1.14, -1.79],2,3]], columns=['samples', 'subject', 'trial_num'])

In [132]:
df

                samples  subject  trial_num
0  [-0.07, -2.9, -2.44]        1          1
1   [-1.52, -0.35, 0.1]        1          2
2  [-0.17, 0.57, -0.65]        1          3
3  [-0.82, -1.06, 0.47]        2          1
4   [0.79, 1.35, -0.09]        2          2
5   [1.17, 1.14, -1.79]        2          3

In [126]:
s = df.apply(lambda x: pd.Series(x['samples']), axis=1).transpose().max()

In [127]:
s

0   -0.07
1    0.10
2    0.57
3    0.47
4    1.35
5    1.17
dtype: float64

In [128]:
s.name = 'sample'

In [129]:
df.drop('samples', axis=1).join(s)

   subject  trial_num  sample
0        1          1   -0.07
1        1          2    0.10
2        1          3    0.57
3        2          1    0.47
4        2          2    1.35
5        2          3    1.17

In [58]:
s = df.apply(lambda x: pd.Series(x['samples']), axis=1).stack().reset_index(level=1, drop=True)

In [59]:
s

0   -0.07
0   -2.90
0   -2.44
1   -1.52
1   -0.35
1    0.10
2   -0.17
2    0.57
2   -0.65
3   -0.82
3   -1.06
3    0.47
4    0.79
4    1.35
4   -0.09
5    1.17
5    1.14
5   -1.79
dtype: float64

In [30]:
s.name = 'sample'

In [31]:
df.drop('samples', axis=1).join(s)

   subject  trial_num  sample
0        1          1   -0.07
0        1          1   -2.90
0        1          1   -2.44
1        1          2   -1.52
1        1          2   -0.35
1        1          2    0.10
2        1          3   -0.17
2        1          3    0.57
2        1          3   -0.65
3        2          1   -0.82
3        2          1   -1.06
3        2          1    0.47
4        2          2    0.79
4        2          2    1.35
4        2          2   -0.09
5        2          3    1.17
5        2          3    1.14
5        2          3   -1.79